:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --text-color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  a:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
  ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    li {
      list-style: none;
      padding: 0.25rem 0.5rem;
      &:last-child {
        border-radius: 8px;
        border: 1px solid var(--text-color);
        &:hover {
          opacity: 0.8;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.profile {
  padding: 1rem;
}
.warning > p {
  display: none;
}
.warning,
.error {
  color: red;
  text-align: center;
  padding: 1rem;
}
h1 {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #f4f4f4;
  }
}
