.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  a:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
  li {
    list-style: none;
  }
}
.profile {
  padding: 1rem;
}
.error {
  color: red;
  text-align: center;
  padding: 1rem;
}
h1 {
  text-align: center;
}
